rewriteEngine on
rewriteRule ^vmware-player-4-0-1-announced$ http://www.brucalipto.org/vmware-player-4-0-1-announced  [R=permanent,L]
rewriteRule ^vmware-tools-vmware-player-4-0-1$ http://www.brucalipto.org/vmware-tools-vmware-player-4-0-1  [R=permanent,L]
rewriteRule ^how-to-clone-a-schema-in-mysql  [R=permanent,L]$ rewriteRule ^how-to-clone-a-schema-in-mysql$ http://how-to-clone-a-schema-in-mysql  [R=permanent,L]  [R=permanent,L]
rewriteRule ^how-to-install-oracle-client-10g-on-red-hat-enterprise-linux-5-64bit$ http://www.brucalipto.org/how-to-install-oracle-client-10g-on-red-hat-enterprise-linux-5-64bit  [R=permanent,L]
rewriteRule ^how-to-install-gosa-on-rhelcentos-5$ http://www.brucalipto.org/how-to-install-gosa-on-rhelcentos-5  [R=permanent,L]
rewriteRule ^windows-port-forwarding$ http://www.brucalipto.org/windows-port-forwarding  [R=permanent,L]
rewriteRule ^zabbix-agents-for-solaris-10$ http://www.brucalipto.org/zabbix-agents-for-solaris-10  [R=permanent,L]
rewriteRule ^how-to-install-oracle-client-10g-on-red-hat-enterprise-linux-5$ http://www.brucalipto.org/how-to-install-oracle-client-10g-on-red-hat-enterprise-linux-5  [R=permanent,L]
rewriteRule ^how-to-install-oracle-client-10g-on-solaris10$ http://www.brucalipto.org/how-to-install-oracle-client-10g-on-solaris10  [R=permanent,L]
rewriteRule ^how-to-install-a-mysql-cluster$ http://www.brucalipto.org/how-to-install-a-mysql-cluster  [R=permanent,L]
rewriteRule ^gomorra$ http://www.brucalipto.org/gomorra  [R=permanent,L]
rewriteRule ^log4j-tutorial$ http://www.brucalipto.org/log4j-tutorial  [R=permanent,L]
rewriteRule ^how-to-install-data-protector-60-on-red-hat-enterprise-linux-5$ http://www.brucalipto.org/how-to-install-data-protector-60-on-red-hat-enterprise-linux-5  [R=permanent,L]
rewriteRule ^how-to-install-data-protector-60-on-ubuntu-linux-704$ http://www.brucalipto.org/how-to-install-data-protector-60-on-ubuntu-linux-704  [R=permanent,L]
rewriteRule ^fsck-di-un-filesystem-senza-reboot$ http://www.brucalipto.org/fsck-di-un-filesystem-senza-reboot  [R=permanent,L]
rewriteRule ^guida-dinstallazione-di-un-server-ubuntu-804-hardy-heron$ http://www.brucalipto.org/guida-dinstallazione-di-un-server-ubuntu-804-hardy-heron  [R=permanent,L]
rewriteRule ^ubuntu-hardy-heron-alpha-5$ http://www.brucalipto.org/ubuntu-hardy-heron-alpha-5  [R=permanent,L]
rewriteRule ^intrepid-ibex-ovvero-ubuntu-810$ http://www.brucalipto.org/intrepid-ibex-ovvero-ubuntu-810  [R=permanent,L]
rewriteRule ^how-to-install-truecrypt-on-ubuntu-edgy-610$ http://www.brucalipto.org/how-to-install-truecrypt-on-ubuntu-edgy-610  [R=permanent,L]
rewriteRule ^linux-su-ipaq$ http://www.brucalipto.org/linux-su-ipaq  [R=permanent,L]
rewriteRule ^lamore-ai-tempi-del-colera$ http://www.brucalipto.org/lamore-ai-tempi-del-colera  [R=permanent,L]
rewriteRule ^distribuzioni-source-based$ http://www.brucalipto.org/distribuzioni-source-based  [R=permanent,L]
rewriteRule ^il-firewall-per-cellulare$ http://www.brucalipto.org/il-firewall-per-cellulare  [R=permanent,L]
rewriteRule ^p2p-e-firme-digitali$ http://www.brucalipto.org/p2p-e-firme-digitali  [R=permanent,L]
rewriteRule ^implementazione-di-un-queuerequestor-con-timeout$ http://www.brucalipto.org/implementazione-di-un-queuerequestor-con-timeout  [R=permanent,L]
rewriteRule ^oscurantismo$ http://www.brucalipto.org/oscurantismo  [R=permanent,L]
rewriteRule ^vacanza-ad-alonissos$ http://www.brucalipto.org/vacanza-ad-alonissos  [R=permanent,L]
rewriteRule ^ricerca$ http://www.brucalipto.org/ricerca  [R=permanent,L]
rewriteRule ^matrix-reloaded-rivisto-e-reinterpretato$ http://www.brucalipto.org/matrix-reloaded-rivisto-e-reinterpretato  [R=permanent,L]
rewriteRule ^bootchart$ http://www.brucalipto.org/bootchart  [R=permanent,L]
rewriteRule ^elektra$ http://www.brucalipto.org/elektra  [R=permanent,L]
rewriteRule ^canzone-della-donna-che-voleva-essere-marinaio$ http://www.brucalipto.org/canzone-della-donna-che-voleva-essere-marinaio  [R=permanent,L]
rewriteRule ^mosaico-dombre$ http://www.brucalipto.org/mosaico-dombre  [R=permanent,L]
rewriteRule ^niente-di-vero-tranne-gli-occhi$ http://www.brucalipto.org/niente-di-vero-tranne-gli-occhi  [R=permanent,L]
rewriteRule ^il-collezionista-dossa$ http://www.brucalipto.org/il-collezionista-dossa  [R=permanent,L]
rewriteRule ^le-domande-di-brian$ http://www.brucalipto.org/le-domande-di-brian  [R=permanent,L]
rewriteRule ^vita-di-pi$ http://www.brucalipto.org/vita-di-pi  [R=permanent,L]
rewriteRule ^il-codice-da-vinci$ http://www.brucalipto.org/il-codice-da-vinci  [R=permanent,L]
