// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
}

table.log4j {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: white;
	border-collapse: collapse;
}
table.log4j th {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
}
table.log4j td {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
}